<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="style.css">
  <title>TodoVueApp</title>
</head>

<body class="bg-dark text-light">
  <div id="App">
    <div class="container">
      <h1 class="mt-3 mb-3">{{title}}</h1>
      <input type="text" placeholder="Search" ref="searchField" @input="searchTodo">
      <input type="text" class="mt-2 mb-2" placeholder="Add todo" @keydown.enter="addNewTodo" ref="todoInput">
      <div class="btn-group ml-2" role="group" aria-label="Basic example">
        <button class="btn btn-success" @click="addNewTodo"><i class="fas fa-plus"></i></button>
        <button type="button" class="btn btn-secondary" @click="isDone = false"
          :class="{'active' : !isDone}">All</button>
        <button type="button" class="btn btn-secondary" @click="isDone = true"
          :class="{'active' : isDone}">Done</button>
      </div>
      <span class="text-danger d-block" v-if="isEmpty">Please enter todo</span>
      <ul class="mt-3">
        <template v-if="!isDone">
          <li ref="todo" v-for="({todo,done}, index) in todos" :data-id="index + 1" :class="{'text-success' : done}">
            <span class="todo-title mr-2">{{`${index + 1}.`}}</span>
            <p class="todo d-inline">{{todo}}</p>
            <button class="btn btn-danger float-right" @click="delTodo">Delete</button>
            <button class="btn btn-success float-right" @click="checkTodo">Done</button>
            <hr>
          </li>
        </template>
        <template v-else>
          <li ref="todo" v-for="({todo,done}, index) in todos" :data-id="index + 1" :class="{'text-success' : done}" v-if="done">
            <span class="todo-title mr-2">{{`${index + 1}.`}}</span>
            <p class="todo d-inline">{{todo}}</p>
            <button class="btn btn-danger float-right" @click="delTodo">Delete</button>
            <button class="btn btn-success float-right" @click="checkTodo">Done</button>
            <hr>
          </li>
        </template>
      </ul>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    new Vue({
      el: "#App",
      data: {
        title: 'TodoVueApp',
        todos: [],
        doneTodos: [],
        isEmpty: false,
        isDone: false,
        isSearch: false
      },
      methods: {
        addNewTodo(evt) {
          if (this.$refs.todoInput.value === '') {
            this.isEmpty = true;
          } else {
            const newTodo = {
              todo: this.$refs.todoInput.value,
              done: false
            };
            this.todos.push(newTodo);
            this.$refs.todoInput.value = '';
            this.isEmpty = false;
          }
        },
        checkTodo(evt) {
          const id = evt.target.parentElement.dataset.id - 1;
          this.todos[id].done ? this.todos[id].done = false : this.todos[id].done = true;

        },
        delTodo(evt) {
          const id = evt.target.parentElement.dataset.id;
          this.todos.splice(id - 1, 1);
        },
        searchTodo () {
          this.$refs.searchField.value === '' ? this.isSearch = false : this.isSearch = true;
          console.log(this.isSearch); 
        }
      }
    })
  </script>
</body>

</html>